/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-08-18, 18:33:58
    Author     : filip
*/

html, body {
  background: #fff;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
}
.container {
  padding: 0;
}
.header {
  margin: 0;
  padding: 0;
}
.header img {
  margin: 0 20px 0 0;
  height: 80px;
  width: 80px;
}
.header a {
  color: #000;
  font-size: 20px;  
  text-decoration: none; 
}
.main h2 {
  background: #000;
  color: #fff;
  font-size: 16px;
  height: 80px;
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 80px;
  z-index: 1;
}
.item {
  cursor: pointer;
  margin: 0;  
  padding: 0;
}
