<div class="container">
    <div class="row">
        <div class="item col-md-4" ng-repeat="lesson in lessons">
            <a href="#/{{$index}}">
            <span>Lekcja {{$index + 1}}</span>
            </a>
        </div>
    </div>
</div>


